/* --- GLOBAL STYLES --- */
* {
    box-sizing: border-box;
}

body {
    background-color: #0a0a23;
}
/* --- END GLOBAL STYLES */

/* --- STYLES --- */
#controls, #stats {
    border: 1px solid #0a0a23;
    color: #0a0a23;
    padding: 5px;
}

#game {
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px auto;
    max-height: 400px;
    max-width: 500px;
    padding: 10px;
}

#monsterStats {
    background-color: #c70d0d;
    border: 1px solid #0a0a23;
    color: #ffffff;
    display: none;
    padding: 5px;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}
/* --- END STYLES --- */
