body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Impact, serif;
}

h1, h2, p {
  text-align: center;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}

h2 {
  font-size: 30px;
}

a{
  color: black;
}
a:visited {
  color: black;
}

a:hover {
  color: brown;
}

a:active {
  color: brown;
}

hr {
  background-color: brown;
  border: 0;
  height: 4px;
}

.menu {
  background-color: burlywood;
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 80%;
}

.established {
  font-style: italic;
}

.item p {
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

.bottom-line {
  margin-top: 25px;
}

/* FOOTER */
footer {
  font-size: 14px;
}