/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}
/* GLOBAL FONT STYLES */

/* GLOBAL ELEMENT STYLES */
body {
  background-color: #f5f6f7;
  font-family: sans-serif;
  margin: 0;
}

/* GLOBAL LAYOUT STYLES */

/* By Class Styles */
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery img {
  height: 300px;
  max-width: 350px;
  width: 100%;
}

.header {
  background: #0a0a23;
  border-bottom: 4px solid #fdb347;
  color: #ffffff;
  padding: 32px;
  text-align: center;
  text-transform: uppercase;
}