body {
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: 'Tahoma';
  font-size: 16px;
  height: 100vh;
  margin: 0;
  width: 100%;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

fieldset {
  border: 0;
  border-bottom: 3px solid #3b3b4f;
  padding: 2rem 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

input, textarea, select {
  margin: 10px 0 0 0;
  min-height: 2em;
  width: 100%;
}

input, textarea {
  background-color: #0a0a23;
  border: solid 1px #0a0a23;
  color: #ffffff;
}

input[type="submit"] {
  background-color: #3b3b4f;
  border-color: white;
  display: block;
  height: 2em;
  font-size: 1.1rem;
  margin: 1em auto;
  min-width: 300px;
  width: 60%;
}

.inline {
  margin: 0 0.5em 0 0;
  vertical-align: middle;
  width: unset;
}
label {
  display: block;
  margin: 0.5rem 0;
}