*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(20, 30, 40);
    color: linen;
    font-family: Baskervville, serif;
}

h1 {
    font-family: Anton, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-family: Raleway, sans-serif;
}

a:link, a:hover {
    color: linen;
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: cover;
}

hr {
    border: 1px solid rgba(120, 120, 120, 0.6);
    margin: 1.5rem 0;
}

main {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr);
    row-gap: 3rem;
}

.heading {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
}

.text {
    column-width: 25rem;
    font-size: 1.8rem;
    grid-column: 2 / 3;
    letter-spacing: 0.6px;
    text-align: justify;
}

.hero {
    grid-column: 1 / -1;
    position: relative;
}

.hero-title {
    color: orangered;
    font-size: 8rem;
    text-align: center;
}

.hero-subtitle {
    color: orangered;
    font-size: 2.4rem;
    text-align: center;
}

.author {
    font-family: Raleway, sans-serif;
    font-size: 2rem;
}

.author-name a:hover {
    background-color: #306203;
}

.publish-date {
    color: rgba(255, 255, 255, 0.5);
}

.social-icons {
    align-items: center;
    display: grid;
    font-size: 3rem;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 1fr);
}

.first-paragraph::first-letter {
    color: orangered;
    float: left;
    font-size: 6rem;
    margin-right: 1rem;
}

.quote {
    color: #00beef;
    font-family: Raleway, sans-serif;
    font-size: 2.4rem;
    text-align: center;
}

.quote::before {
  content:'" ';
}

.quote::after {
  content:' "';
}

.text-with-images {
    display: grid;
}
