/* --- GLOBAL CSS --- */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    z-index: auto;
}

*:focus {
    outline: none;
}

html {
    /* Set default font size */
    font-size: 16px;
}
/* --- END GLOBAL CSS --- */

/* --- ANIMATION KEYFRAMES --- */
@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* --- END ANIMATION KEYFRAMES --- */

/* --- STYLES --- */

.cabin {
    background-color: red;
    border: 2px solid;
    height: 20%;
    position: absolute;
    transform-origin: 50% 0%;
    width: 20%;
}

.cabin:nth-of-type(1) {
    right: -8.5%;
    top: 50%;
}

.cabin:nth-of-type(2) {
    right: 17%;
    top: 93.5%;
}

.cabin:nth-of-type(3) {
    right: 67%;
    top: 93.5%;
}

.cabin:nth-of-type(4) {
    left: -8.5%;
    top: 50%;
}

.cabin:nth-of-type(5) {
    left: 17%;
    top: 7%;
}

.cabin:nth-of-type(6) {
    right: 17%;
    top: 7%;
}

.line {
    background-color: black;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0% 0%;
    width: 50%;
}

.line:nth-of-type(2) {
    transform: rotate(60deg);
}

.line:nth-of-type(3) {
    transform: rotate(120deg);
}

.line:nth-of-type(4) {
    transform: rotate(180deg);
}

.line:nth-of-type(5) {
    transform: rotate(240deg);
}

.line:nth-of-type(6) {
    transform: rotate(300deg);
}

#wheel {
    border: 2px solid black;
    border-radius: 50%;
    height: 55vw;
    margin-left: 50px;
    max-height: 500px;
    max-width: 500px;
    position: absolute;
    width: 55vw;
}

/* --- END STYLES --- */
